@import "fonts.css";

body {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* Header (height: 100vh = 100 user screen) */
.header {
    width: 100%;
    height: 754px;
    background: url("../img/header.png") center no-repeat;
    background-size: cover;
}
.header .row {
    padding-top: 12px;
}
.header__logo {
    font-family: Montserrat Bold;
    font-size: 30px;
    color: white;
}
.header__nav {
    font-family: Montserrat Regular;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 85px;
}
.nav__link {
    margin-right: 55px;
    color: white;
    transition: color 0.1s linear;
    position: relative;
}
.nav__link:hover {
    color: #fce38a;
    text-decoration: none;
}
.nav__link:hover:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    transition: color 0.1s linear;
    margin-top: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.header__suptitle {
    font-family: KaushanScript Regular;
    font-size: 60px;
    color: white;
    text-align: center;
}
.header__title {
    font-family: Montserrat Bold;
    font-size: 120px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 0.94;
}
.header__title:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    max-width: 60px;
    background-color: white;
    margin: 35px auto 18px;
}
.header__btn {
    font-family: Montserrat Bold;
    font-size: 12px;
    text-transform: uppercase;
    border: 3px solid white;
    padding: 5px 20px;
    color: white;
    margin-bottom: 114px;
}
.header__btn:hover {
    color: #fce38a;
    text-decoration: none;
    background: #e88583;
    border: 3px solid #e88583;
}
.slider__number {
    position: relative;
    width: 100%;
    max-width: 270px;
    color: white;
    font-family: Montserrat Bold;
    font-size: 18px;
    border-top: 3px solid white;
    padding-top: 13px;
    opacity: 0.7;
}
.slider__item {
    color: white;
    font-family: Montserrat Regular;
    font-size: 15px;
    text-transform: uppercase;
}
.slider__number:hover {
    opacity: 1;
    cursor: pointer;
}
.slider__number:hover:before {
    content: '';
    display: block;
    height: 3px;
    width: 70px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}
